* {
	margin: 0;
	box-sizing: border-box;
}

html {
	width: 100%;
	scroll-behavior: smooth;
}

body {
	background-color: #f1faee;
	display: flex;
	flex-direction: column;
	overflow: auto;
}

::-webkit-scrollbar {
	width: 0.8em;
}

::-webkit-scrollbar-track {
	border-radius: 100vw;
	margin-block: 0.25em;
}

::-webkit-scrollbar-thumb {
	background: rgba(61, 64, 91, 0.75);
	border: 0.2em solid #3d405b;
	border-radius: 100vw;
}

::-webkit-scrollbar-thumb:hover {
	background: rgba(61, 64, 91, 0.95);
}

.page-container {
	position: relative;
	min-height: 100%;
}

.content-wrap {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-bottom: 8rem;
}

.hero {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 2.5rem;
	max-width: 54rem;
	margin: 5rem 0;
	background-color: #81b29a;
	border-radius: 15px;
	box-shadow: rgba(61, 64, 91, 0.76) 0 2px 6px;
	scroll-margin-top: 10rem;
}

.hero-img {
	height: 27rem;
	width: 27rem;
	border-radius: 15px 0 0 15px;
}

.bio {
	width: 24.5rem;
	padding: 0.625rem;
	font-family: 'Open Sans', sans-serif;
	color: #3d405b;
	background-color: #f1faee;
	border-radius: 5px 0 0 5px;
	box-shadow: rgba(61, 64, 91, 0.76) 0 3px 6px;
}

.bio h2 {
	margin-left: 0.5rem;
}

.bio p {
	line-height: 2rem;
	margin-left: 1.5rem;
	padding: 0.8rem 0;
}

.href-contact {
	color: #3d405b;
	font-weight: 700;
	text-decoration: none;
}

.href-contact:hover {
	color: #f2cc8f;
}

.title-icon {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.coffee-icon {
	width: 64px;
	height: 64px;
	margin-right: 0.5rem;
}

.more-about {
	gap: 2.5rem;
	max-width: 85rem;
	margin-bottom: 5rem;
	padding: 1rem 6rem;
	font-family: 'Open Sans', sans-serif;
	color: #3d405b;
	background-color: #81b29a;
	border-radius: 15px;
	box-shadow: rgba(61, 64, 91, 0.76) 0 2px 6px;
}

.more-about h2 {
	text-align: center;
	margin: 1.5rem;
}

.more-about p {
	text-align: center;
	line-height: 2rem;
	margin-left: 1.5rem;
	padding: 0.8rem 0;
}

#skills {
	gap: 2.5rem;
	max-width: 85rem;
	margin-bottom: 5rem;
	font-family: 'Open Sans', sans-serif;
	color: #3d405b;
	border-radius: 15px;
	scroll-margin-top: 7rem;
}

#skills h2 {
	text-align: center;
	margin: 2rem;
}

canvas {
	width: 60rem;
	height: 30rem;
	background-color: rgba(61, 64, 91, 0.55);
	border-radius: 15px;
	box-shadow: rgba(61, 64, 91, 0.76) 0 2px 6px;
}

.circles {
	display: none;
}

#projects {
	width: 90vw;
	padding: 2rem;
	color: #3d405b;
	font-family: 'Open Sans', sans-serif;
	display: flex;
	flex-direction: column;
	justify-items: center;
	align-items: center;
	scroll-margin-top: 7rem;
}

.projects-container {
	max-width: 100rem;
	margin-bottom: 10rem;
	display: flex;
	justify-content: center;
	align-content: center;
	text-align: center;
	border-radius: 15px;
}

.project-pic {
	width: auto;
	height: 12rem;
	border-radius: 15px;
	margin-top: 1rem;
	box-shadow: rgba(61, 64, 91, 0.76) 0 2px 6px;
}

.projects-title {
	text-align: center;
	margin-bottom: 2rem;
}

.project-container p {
	padding: 0.8rem;
}

.project-title {
	font-size: 22px;
	margin: 1rem;
}

.project-details {
	margin: 1rem;
}

.project-card {
	background-color: #f2cc8f;
	border-radius: 11px;
	padding: 0.8rem;
	margin: 1rem;
	box-shadow: rgba(61, 64, 91, 0.76) 0 2px 6px;
}

.project-card:hover {
	box-shadow: rgba(61, 64, 91, 0.76) 0 4px 10px;
}

.project-link {
	color: #3d405b;
	font-weight: 700;
	text-decoration: none;
	margin: 1rem;
}

.project-link:hover {
	color: #f1faee;
}

@media only screen and (max-width: 1250px) {
	.projects-container {
		flex-wrap: wrap;
	}
}


@media only screen and (max-width: 1000px) {
	.hero {
		flex-direction: column;

	}

	.hero-img {
		width: 22rem;
		height: 22rem;
		border-radius: 15px 15px 0 0;
	}

	.bio {
		width: 19rem;
		font-size: 14px;
		font-weight: 500;
		border-radius: 15px 15px 0 0;
	}

	.more-about {
		padding: 1rem 1.5rem;
	}

	.more-about p {
		font-size: 14px;
		font-weight: 500;
		margin: 0;
	}

	canvas {
	display: none;
	}

	.circles {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		align-items: center;
		justify-items: center;
		padding: 1.5rem;
		background-color: rgba(61, 64, 91, 0.55);
		border-radius: 15px;
		box-shadow: rgba(61, 64, 91, 0.76) 0 2px 6px;
	}

	.html-css {
		width: 12rem;
		height: 12rem;
		line-height: 12rem;
		border-radius: 50%;
		font-size: 20px;
		font-weight: bold;
		font-family: 'Open Sans', sans-serif;
		color: #3d405b;
		text-align: center;
		background: rgba(50,65,230,0.3);
		border: 1px solid #3d405b;
		margin: 1rem;
	}

	.js {
		width: 10rem;
		height: 10rem;
		line-height: 10rem;
		border-radius: 50%;
		font-size: 20px;
		font-weight: bold;
		font-family: 'Open Sans', sans-serif;
		color: #3d405b;
		text-align: center;
		background: rgba(209,230,50,0.3);
		border: 1px solid #3d405b;
		margin: 1rem;
	}

	.php {
		width: 8.5rem;
		height: 8.5rem;
		line-height: 8.5rem;
		border-radius: 50%;
		font-size: 20px;
		font-weight: bold;
		font-family: 'Open Sans', sans-serif;
		color: #3d405b;
		text-align: center;
		background: rgba(195,29,29,0.3);
		border: 1px solid #3d405b;
		margin: 1rem;
	}

	.react {
		width: 7.5rem;
		height: 7.5rem;
		line-height: 7.5rem;
		border-radius: 50%;
		font-size: 20px;
		font-weight: bold;
		font-family: 'Open Sans', sans-serif;
		color: #3d405b;
		text-align: center;
		background: rgba(0,229,255,0.3);
		border: 1px solid #3d405b;
		margin: 1rem;
	}
}